<!doctype html>
<html ng-app="parking">
	<head>
		<title>[Packtt] Parking</title>
		<script src="lib/angular.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/directives.js"></script>
		<link rel="stylesheet" type="text/css" href="css/app.css">
	</head>
	<body ng-controller="parkingCtrl">
		<h3 ng-bind="appTitle" class="headingpk"></h3>
		<div ng-show="cars.length > 0">
		<input type="text" ng-model="criteria" placeholder="What are you looking for?"/>
			<table>
				<thead>
					<tr>
						<th></th>
						<th>Plate</th>
						<th>Color</th>
						<th>Entrance</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-class="{selected: car.selected}"
						ng-repeat="car in cars | filter:criteria"">
						<td>
							<input type="checkbox" ng-model="car.selected"/>
						</td>
						<td><span ng-bind="car.plate"></span></td>
						<td><span ng-bind="car.color"ng-style="{color: car.color}"></span></td>
						<td><span ng-bind="car.entrance"></span></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div ng-hide="cars.length > 0">
			The parking lot is empty
		</div>
		<alert ng-show="showAlert" 
				topic="alertTopic" 
				description="alertMessage"
				close="closeAlert()"></alert>
		<input type="text" ng-model="car.plate" placeholder="What's the plate?"/>
		<select ng-model="car.color"
				ng-options="color for color in colors">
				<option value="">Pick a color</option>
		</select>
		<button ng-click="park(car)" ng-disabled="!car.plate || !car.color">
			Park
		</button>
	</body>
</html>